.cart{
    background-image: url('../../assets/img/fondo.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-left: 30px;
}
.total-contenedor{
    display: flex;
    flex-direction: column;
    background: #232323;
    justify-content: space-between;
    color:#eee;
    align-items: center;
    align-content: center;
    width: 50%;
    padding: 20px;
}
.oops{
    background-image: url('../../assets/img/oops.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.cart-titulo{
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.cart hr{
    width: 10%;
    height: 3px;
    background-color: #232323;
    align-self: center;
    margin-bottom: 10px;
}

.cart a{
    text-decoration: none;
    color: #232323;
    border: 1px solid #232323;
    padding: 10px;
}

.product-cart{
    display: flex;
    flex-direction: row;
    background-color: #eee;
    box-shadow: 4px 4px 5px 0px rgba(147,147,147,0.75);
    width: 90%;
    margin: 10px;
    height: 200px;
}

.product-img img{

    width: 200px;
    height: auto;
}

.contenedorProducto{
    width: 90%;
}