.tienda-contenedor{
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: cover;
}
.contenedor-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    
}
.contenedor-infoTienda{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: #2f0e7c63;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}
.contenedor-titulo{
    font-size: 30px;
    letter-spacing: 10px;
    padding: 100px;
    align-self: center;
    color: #eee;
    text-transform: uppercase;
}

.contenedor-principal a{
    align-self: center;
    text-decoration: none;
    border: 2px solid #eee;
    padding: 5px;
    background-color: transparent;
    color: #eee;
    font-size: 30px;
    transition: 0.1s;
   
}
.contenedor-principal a:hover{
transform:scale(1.04);


}

.TiendaTitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}