.tienda-contenedor{
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: cover;
}
.ItemListDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}
.ItemDescripcion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ItemContainerDetail{
    display: flex;
    flex-direction: column;
   justify-content: space-around; 
   align-content: center;
   padding:20px;
    background-color: #fff;
    box-shadow: 4px 4px 5px 0px rgba(147,147,147,0.75);
    transition: .3s;
}
.ItemContainer:hover{
    transform: scale(1.05);
}
.ItemContainerDetail img{
    width: 400px;
    height: 400px;
    align-self: center;

}
.ItemContenido{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.ItemDetail{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.ItemDetail span{
    color:#b3b3b3;
    font-size: 14px;
}

.ItemDetailNombre{
    font-size: 36px;
    color: #353535;
    text-transform: uppercase;
}

select {
    width: 60%;
    height: 30px;
    background-color: #1619c0;
    color: #eee;
}
.ItemDetailMaterial{
    font-size: 14px;
}



.btnAddCart{
    width: 100%;
    height: 40px;
    align-self: center;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #000;
    transition: 1s;
    cursor: pointer;
}
.btnAddCart:hover{
    background-color: #f1f1f1;
}

.btn-red{
    background-color: #ff0000;
    color: #eee;
    width: 30px;
    height: 30px;
    border: none;
}
.btn-red:hover{
    background-color: #d81313;

}

.btn-blue{
    background-color: #00aeff;
    color: #eee;
    width: 30px;
    height: 30px;
    border: none;
}
.btn-blue:hover{
    background-color: #1b89bd;

}
.itemContenedor{
 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40%;
    
}

.detallesContenedor{
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
}

.detalles{
    width: 50%;
    padding: 20px;
}
.detalles span{
    color:#b3b3b3;
    font-size: 14px;
}

@media only screen and (min-width: 320px) and (max-width:480px){

    .ItemDescripcion{
        display: flex;
        flex-direction: column;
    }
    .detallesContenedor{
        display: flex;
        flex-direction: column;

    }
    .detalles{
        width: 100%;
    }
    .ItemContainerDetail img{
        width: 100%;
    }
    .itemContenedor{
        width: 100%;
    }
}