.ItemList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #eee;
    padding: 30px;
}

.ItemContainer{
    display: flex;
    flex-direction: column;
    padding:20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 5px 0px rgba(147,147,147,0.75);
    transition: .3s;
}
.ItemContainer:hover{
    transform: scale(1.05);
}
.ItemContainer img{
    width: 250px;
    height: 250px;
    align-self: center;

}
.ItemInfo{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.ItemInfo span{
    color:#b3b3b3;
    text-decoration: line-through;
   
    font-size: 14px;
     
}

.btnAddCart{
    width: 100%;
    height: 40px;
    align-self: center;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #000;
    transition: 1s;
    cursor: pointer;
}
.btnAddCart:hover{
    background-color: #f1f1f1;
}

.TiendaContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #eee;
    padding: 30px;
}
.TiendaTitulo{
    color: #232323;
    font-size: 32px;
}
.TiendaHr{
    width: 10%;
    height: 3px;
    background-color: #232323;
    align-self: center;
    margin-bottom: 10px;
}